<footer class="page-footer grey darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">All content belongs to <a href="https://www.theverge.com/">The Verge</a></h5>
        <p class="grey-text text-lighten-4"></p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2020 Copyright
      <a class="grey-text text-darken-1 right" href="#!">More Links</a>
    </div>
  </div>
</footer>