<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo right">Upshaw.Inc</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="Home">Home</a></li>
        <li><a href="/scrape">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>