<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo right">Upshaw.Inc</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="">Portfolio</a></li> 
      </ul>
    </div>
  </nav>